<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 第1步：扫描Controller -->
    <context:component-scan
            base-package="com.paparazzi.fastdfs" />

    <!-- 第2步：打开注解驱动,配置处理器映射器和处理器适配器 -->
    <mvc:annotation-driven/>

    <!--访问静态资源文件-->
    <mvc:default-servlet-handler />

    <!-- 第3步：视图解析器
         转发
     -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/workbench/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--文件上传解析器 id必须是multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--一次最大的上传总大小，最大的是5M-->
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
        <!--一次性可以上传多个文件，每个文件最大为1M-->
        <property name="maxUploadSizePerFile" value="#{1024*1024*1}"/>
    </bean>


</beans>